<div class="container">

  <div class="card">
    <div class="card-body">
<form [formGroup]="form" (ngSubmit)="onSubmit()"  >
  <h2>Обновление информации о работнике:</h2>
  <div [hidden]="submitted" style="text-align: center; width:100%">

    <div class="form-group">
      <label>ФИО:</label>
      <input type="text"  class="form-control"  formControlName="name" >
    </div>
    <div class="form-field">
      <div class="form-field__control-container">
        <div class="form-group">
          <label><b>Команда: </b></label>
        </div>
        <div>
          <select  class="form-control" formControlName="team" (change)="onSelectTeam($event)">
            <option value="" disabled>Выберите команду</option>
            <option *ngFor="let team of teams| async" [value]="team.teamId"> {{team.teamId}} {{team.specialization}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label><b>День рождения: </b></label>
      <input type="text" class="form-control"  formControlName="birthday" >
    </div>
    <div><button type="submit"  class="btn btn-success">Submit</button></div>
    <div><button (click)="gotoList()"  class="btn btn-primary">Back</button></div>

  </div>
  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
  </div>
</form>

</div>
</div>
</div>
